.container {
  position: relative;

  width: 600px;
  min-height: 950px;
  margin: 0 auto;

  background: url("../img/grain-elevator.png") no-repeat top center;
  background-size: contain;
}

input[name^=engine] {
  display: none;
}

.controls {
  width: 135px;
  padding: 30px;
}

.controls fieldset {
  margin-bottom: 10px;
}

.controls label {
  position: relative;

  display: inline-block;
  padding: 5px;
  padding-left: 30px;

  vertical-align: top;
}

.controls label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 15px;
  height: 15px;

  border-radius: 50%;
  border: 2px solid black; 

}

.sensor {
  position: absolute;
  top: 65px;
  left: 295px;

  width: 30px;
  height: 30px;

  background-color: grey;
  border-radius: 50%;
}

.sensor-2 {
  top: 550px;
  left: 65px;
}

#engine-1-off:checked ~ .sensor-1,
#engine-1-off:checked ~ .controls label[for="engine-1-off"]::before {
  background-color: gray;
}

#engine-1-on:checked ~ .sensor-1,
#engine-1-on:checked ~ .controls label[for="engine-1-on"]::before {
  background-color: green;
}

#engine-1-break:checked ~ .sensor-1,
#engine-1-break:checked ~ .controls label[for="engine-1-break"]::before {
  background-color: red;
}

#engine-2-off:checked ~ .sensor-2,
#engine-2-off:checked ~ .controls label[for="engine-2-off"]::before {
  background-color: gray;
}

#engine-2-on:checked ~ .sensor-2,
#engine-2-on:checked ~ .controls label[for="engine-2-on"]::before {
  background-color: green;
}

#engine-2-break:checked ~ .sensor-2,
#engine-2-break:checked ~ .controls label[for="engine-2-break"]::before {
  background-color: red;
}

.transporter {
  position: absolute;
  top: 605px;
  left: 104px;
  z-index: 10;

  width: 282px;
  height: 10px;

  border: 1px solid black;

  overflow: hidden;
}

.transporter div[class^="platform"] {
  position: absolute;
  top:0;

  width: 120px;
  height: 20px;

  background-color: black;
}

.transporter .platform-1 {
  left: -240px;
}

.transporter .platform-2 {
  left: -100px;
}

.transporter .platform-3 {
  left: 40px;
}

.transporter .platform-4 {
  left: 180px;
}

@-webkit-keyframes transporter {
  100% {-webkit-transform: translateX(141px);transform: translateX(141px);}
}

@keyframes transporter {
  100% {-webkit-transform: translateX(141px);transform: translateX(141px);}
}

.transporter div[class^="platform"] {
  -webkit-animation-name: transporter;
          animation-name: transporter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#engine-2-off:checked ~ .transporter div[class^="platform"],
#engine-2-break:checked ~ .transporter div[class^="platform"] {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes break-2 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.eng-2-break {
  position: absolute;
  top: 593px;
  left:24px;
  z-index: 9;

  width: 541px;
  height: 59px;

  background: url("../img/transporter-break.png") no-repeat;
  opacity: 0;
}

#engine-2-break:checked ~ .eng-2-break {
  -webkit-animation-name: break-2;
          animation-name: break-2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.elevator {
  position: absolute;
  top: 158px;
  left: 431px;
  z-index: 10;

  width: 50px;
  height: 615px;

  border: 1px solid black;

  overflow: hidden;
}

.elevator div[class^="lift"] {
  position: absolute;

  width: 50px;
  height: 10px;

  background-color: black;
}

.elevator .lift-1 {
  bottom: -100px;
}

.elevator .lift-2 {
  bottom: 0px;
}

.elevator .lift-3 {
  bottom: 100px;
}

.elevator .lift-4 {
  bottom: 200px;
}

.elevator .lift-5 {
  bottom: 300px;
}

.elevator .lift-6 {
  bottom: 400px;
}

.elevator .lift-7 {
  bottom: 500px;
}

.elevator .lift-8 {
  bottom: 600px;
}

@-webkit-keyframes elevator {
  100% {-webkit-transform: translateY(-100px);transform: translateY(-100px);}
}

@keyframes elevator {
  100% {-webkit-transform: translateY(-100px);transform: translateY(-100px);}
}

.elevator div[class^="lift"] {
  -webkit-animation-name: elevator;
          animation-name: elevator;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#engine-1-off:checked ~ .elevator div[class^="lift"],
#engine-1-break:checked ~ .elevator div[class^="lift"] {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.eng-1-break {
  position: absolute;
  top: 25px;
  left:311px;
  z-index: 8;

  width: 210px;
  height: 891px;

  background: url("../img/elevator-break.png") no-repeat;
  opacity: 0;
}

#engine-1-break:checked ~ .eng-1-break {
  -webkit-animation-name: break-2;
          animation-name: break-2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}